---
import PieTraditionalGraph from "./PieTraditionalGraph.astro";
---

<div class="flex w-[40%] flex-col rounded-2xl border-2 border-[#E7EBF1] p-5">
     <h3 class="">Categorías de productos mas exportados</h3>
     <canvas id="id_monthlyBarsChart" class="max-h-[17rem]"></canvas>
     <div class="relative flex justify-between">
          <PieTraditionalGraph />
     </div>
</div>

<script>
     import { Chart } from "chart.js/auto";
     import { getMostExportedProductsBar } from "../../data/BarCategoriesTrendsData";
     import { formattAmountsMoney, abbreviateNumberAmount } from "../../utils/utils";

     const { onlyCategories, onlyValues } = getMostExportedProductsBar("03");

     document.addEventListener("DOMContentLoaded", () => {
          const ctx = document.getElementById("id_monthlyBarsChart") as HTMLCanvasElement;

          new Chart(ctx, {
               type: "bar",
               data: {
                    labels: onlyCategories,
                    datasets: [
                         {
                              data: onlyValues,
                              backgroundColor: [
                                   "rgba(255, 99, 132, 0.7)",
                                   "rgba(54, 162, 235, 0.7)",
                                   "rgba(255, 206, 86, 0.7)",
                                   "rgba(75, 192, 192, 0.7)",
                                   "rgba(153, 102, 255, 0.7)",
                                   "rgba(255, 159, 64, 0.7)",
                              ],
                              borderColor: [
                                   "rgba(255, 99, 132, 0.7)",
                                   "rgba(54, 162, 235, 0.7)",
                                   "rgba(255, 206, 86, 0.7)",
                                   "rgba(75, 192, 192, 0.7)",
                                   "rgba(153, 102, 255, 0.7)",
                                   "rgba(255, 159, 64, 0.7)",
                              ],

                              borderWidth: 2,
                              borderRadius: 5,
                              barPercentage: 0.9,
                         },
                    ],
               },
               options: {
                    layout: {},
                    plugins: {
                         title: {
                              display: true,
                              text: "Ingresos generados",
                              font: {
                                   size: 16,
                                   weight: 600,
                              },
                         },
                         legend: {
                              display: false,
                         },

                         tooltip: {
                              callbacks: {
                                   label: function (context: any) {
                                        return formattAmountsMoney(context.raw);
                                   },
                              },
                              intersect: false,
                              titleFont: {
                                   size: 16,
                              },
                              bodyFont: {
                                   size: 14,
                              },
                         },
                    },
                    indexAxis: "y",
                    maintainAspectRatio: true,
                    scales: {
                         x: {
                              ticks: {
                                   callback: function (value) {
                                        return abbreviateNumberAmount(Number(value));
                                   },
                                   font: {
                                        size: 16,
                                   },
                              },
                         },
                         y: {
                              ticks: {
                                   font: {
                                        size: 16,
                                   },
                              },
                              beginAtZero: true,
                         },
                    },
                    responsive: true,
               },
          });
     });
</script>
