<div class="mt-10">
     <h3>Comparación de productos derivados de petroleo</h3>
     <canvas id="id_montlhyDoughnutChart" class="max-h-[240px]"> </canvas>
</div>

<script>
     import { Chart } from "chart.js/auto";
     import { getTradicionalData } from "../../data/PieTraditionalTrendsGraphData";

     const { dataNoTraditional: countDataTraditional, dataTraditional: countDataNoTraditional } = getTradicionalData("03");

     document.addEventListener("DOMContentLoaded", () => {
          const ctx = document.getElementById("id_montlhyDoughnutChart") as HTMLCanvasElement;
          const chart = new Chart(ctx, {
               type: "doughnut",
               data: {
                    labels: ["Productos petro", "Productos no petro"],
                    datasets: [
                         {
                              label: "Exportaciones: ",
                              data: [countDataTraditional, countDataNoTraditional],
                              backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"],
                              hoverOffset: 4,
                         },
                    ],
               },
               options: {
                    plugins: {
                         legend: {
                              labels: {
                                   font: {
                                        size: 14,
                                        weight: 600,
                                   },
                              },
                         },
                         tooltip: {
                              titleFont: {
                                   size: 16,
                              },
                              bodyFont: {
                                   size: 14,
                              },
                         },
                    },
               },
          });
     });
</script>
