<div class="mt-10">
     <h3>Comparación de productos derivados de petroleo</h3>
     <canvas id="id_montlhyDoughnutChart" class="max-h-[240px]"> </canvas>
</div>

<script>
     import { Chart } from "chart.js/auto";
     import { getPetroAndNoPetroData } from "../../data/PieTraditionalTrendsGraphData";

     const { dataPetro: countDataPetro, dataNoPetro: countDataNoPetro } = getPetroAndNoPetroData("03");

     document.addEventListener("astro:page-load", () => {
          const ctx = document.getElementById("id_montlhyDoughnutChart") as HTMLCanvasElement;
          const chart = new Chart(ctx, {
               type: "doughnut",
               data: {
                    labels: ["Productos petro", "Productos no petro"],
                    datasets: [
                         {
                              label: "Exportaciones: ",
                              data: [countDataPetro, countDataNoPetro],
                              backgroundColor: ["#039de3", "#2364AA", "#73BFB8"],
                              hoverOffset: 4,
                         },
                    ],
               },
               options: {
                    plugins: {
                         legend: {
                              labels: {
                                   font: {
                                        size: 14,
                                        weight: 600,
                                   },
                              },
                         },
                         tooltip: {
                              titleFont: {
                                   size: 16,
                              },
                              bodyFont: {
                                   size: 14,
                              },
                         },
                    },
               },
          });
     });
</script>
