---
import { getRevenuesPerMonth } from "../../data/MonthlyTrendsData";
import { formattAmountsMoney } from "../../utils/utils";

//march, feb
const { amountCurrentMonth, amountPastMonth, percentageDifference } = getRevenuesPerMonth("03", "02");
const amountCurrent = formattAmountsMoney(amountCurrentMonth);
const amountPast = formattAmountsMoney(amountPastMonth);
---

<div class="w-[70%] rounded-2xl border-2 border-[#E7EBF1] p-5">
     <h3 class="">Tendencia de exportaciones mensuales</h3>

     <div class="mt-5 flex gap-20">
          <div class="flex gap-3">
               <span class="text-[#EB862A]">⬤</span>
               <div class="flex flex-col">
                    <span> Ingresos totales: Febrero 2024 </span>
                    <span class="font-bold">${amountPast} </span>
               </div>
          </div>

          <div class="flex gap-3">
               <span class="text-primary-500">⬤</span>
               <div class="flex flex-col">
                    <span> Ingresos totales: Marzo 2024 </span>
                    <span class="font-bold"
                         >${amountCurrent}
                         <span class="font-sm opacity-50">
                              {percentageDifference > 0 ? "↑" : percentageDifference < 0 ? "↑" : "⬤"}
                              {percentageDifference.toFixed(2)}%</span
                         >
                    </span>
               </div>
          </div>
     </div>

     <div class="relative">
          <button
               class="button-reset-zoom | absolute right-0 top-0 my-2 rounded-md border-2 border-[#eceff5] px-3 py-2 font-medium duration-150 hover:bg-[#f2f5fa] active:bg-[#e7ebf1]"
               >Restablecer</button
          >

          <!-- graphic -->
          <canvas id="id_montlyTrendLine" class="min-w-full p-10"> </canvas>
     </div>
</div>

<script>
     import { Chart } from "chart.js/auto";
     import { extractAmountAndChaptersMonth } from "../../data/MonthlyTrendsData";

     //enable zoom
     import zoomPlugin from "chartjs-plugin-zoom";
     Chart.register(zoomPlugin);

     //graph data 1 data
     const { chaptersArray: month1Chapter, valuesArray: month1Values } = extractAmountAndChaptersMonth("03");
     const { chaptersArray: month2Chapter, valuesArray: month2Values } = extractAmountAndChaptersMonth("02");

     //drawing the graphic
     document.addEventListener("DOMContentLoaded", () => {
          const ctx = document.getElementById("id_montlyTrendLine") as HTMLCanvasElement;
          const chart = new Chart(ctx, {
               type: "line",
               data: {
                    labels: month1Chapter,
                    datasets: [
                         {
                              label: "Ingresos: Febrero",
                              data: month1Values,
                              borderColor: "#03aeeb",
                              borderWidth: 3,
                              pointStyle: "circle",
                              pointBorderWidth: 1,
                         },
                         {
                              label: "Ingresos: Marzo",
                              data: month2Values,
                              borderColor: "#EB862A",
                              borderWidth: 3,
                              pointStyle: "circle",
                              pointBorderWidth: 1,
                         },
                    ],
               },
               options: {
                    scales: {
                         y: {
                              beginAtZero: true,
                              ticks: {
                                   font: {
                                        size: 16,
                                   },
                              },
                         },
                         x: {
                              beginAtZero: true,
                              ticks: {
                                   font: {
                                        size: 16,
                                   },
                              },
                         },
                    },

                    responsive: true,

                    //zoom
                    plugins: {
                         zoom: {
                              pan: {
                                   enabled: true, // drag the graph with the mouse
                              },
                              zoom: {
                                   wheel: {
                                        enabled: true, //zoom with que weel mouse
                                   },
                                   pinch: {
                                        enabled: true,
                                   },

                                   mode: "xy",
                              },
                         },
                    },
               },
          });
          //reset zoom graph
          document.querySelector(".button-reset-zoom")?.addEventListener("click", () => {
               chart.resetZoom();
          });
     });
</script>
