<div class="mt-10">
     <h3>Comparación de productos exportados tradicionalmente</h3>
     <canvas id="id_montlhyPieChart" class="max-h-[240px]"> </canvas>
</div>

<script>
     import { Chart } from "chart.js/auto";
     import { getTradicionalData } from "../../data/PieTraditionalTrendsGraphData";
     import { addCustomTitleToolTip } from "../../utils/utils";

     const { dataNoTraditional: countDataTraditional, dataTraditional: countDataNoTraditional } = getTradicionalData("03");

     document.addEventListener("DOMContentLoaded", () => {
          const ctx = document.getElementById("id_montlhyPieChart") as HTMLCanvasElement;
          const chart = new Chart(ctx, {
               type: "pie",
               data: {
                    labels: ["Tradicionales", "No Tradicionales"],
                    datasets: [
                         {
                              label: "Exportaciones: ",
                              data: [countDataTraditional, countDataNoTraditional],
                              backgroundColor: ["#039de3", "#2364AA", "#73BFB8"],
                              hoverOffset: 4,
                         },
                    ],
               },
               options: {
                    plugins: {
                         legend: {
                              labels: {
                                   font: {
                                        size: 14,
                                        weight: 600,
                                   },
                              },
                         },
                         tooltip: {
                              titleFont: {
                                   size: 16,
                              },
                              bodyFont: {
                                   size: 14,
                              },
                         },
                    },
               },
          });
     });
</script>
