<div class="rounded-2xl bg-white p-5 shadow-xl">
     <h3>Comparativa de Peso Neto en Exportaciones por Producto</h3>
     <canvas id="id_polar_graph" class="mt-3 max-h-[240px]"> </canvas>
</div>

<script>
     import { Chart } from "chart.js";
     import { getMostWeightCategories } from "../../data/PolarAreaMostWeight";
     import { abbreviateNumberAmount } from "../../utils/utils";

     const { onlyCategories, onlyWeights } = getMostWeightCategories("02", 4);

     document.addEventListener("astro:page-load", () => {
          const ctx = document.getElementById("id_polar_graph") as HTMLCanvasElement;

          if (!ctx) return;
          ctx.height = 500;

          new Chart(ctx, {
               type: "polarArea",
               data: {
                    labels: onlyCategories,
                    datasets: [
                         {
                              label: "Peso Neto",
                              data: onlyWeights,
                              backgroundColor: ["#039de3", "#2364AA", "#73BFB8", "#FEC601", "#EA7317", "#EA7317"],
                              borderColor: ["#039de3", "#2364AA", "#73BFB8", "#FEC601", "#EA7317", "#EA7317"],
                         },
                    ],
               },
               options: {
                    plugins: {
                         tooltip: {
                              callbacks: {
                                   label: function (context) {
                                        return `${abbreviateNumberAmount(Number(context.raw))} Toneladas`;
                                   },
                              },

                              titleFont: {
                                   size: 16,
                              },
                              bodyFont: {
                                   size: 14,
                              },
                         },
                    },
               },
          });
     });
</script>
