---
import MonthlyTrendsComponent from "../components/graphics/MonthlyTrendsComponent.astro";
import CardResumeComponent from "../components/ui/CardResumeComponent.astro";
import Layout from "../layouts/Layout.astro";
import ResumeSection from "../sections/ResumeSection.astro";
import StatisticsOverviewSection from "../sections/StatisticsOverviewSection.astro";
---

<Layout title="Welcome to Astro.">
     <main class="flex w-full flex-col p-7">
          <h1 class="title-section text-2xl font-bold text-fontColor">Descripción General</h1>
          <ResumeSection />
          <StatisticsOverviewSection />
          <!--  -->
     </main>
</Layout>

<style>
     .title-section::after {
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #e6e9eea9;
          margin: 20px 0;
     }
</style>
