---
import NavbarComponent from "../components/layout/NavbarComponent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex"></main>
</Layout>

<style></style>
