---
import MonthlyTrendsComponent from "../components/graphics/LineTrendsGraph.astro";
import CardResumeComponent from "../components/ui/CardResumeComponent.astro";
import Layout from "../layouts/Layout.astro";
import ResumeSection from "../sections/ResumeSection.astro";
import StatisticsOverviewSection from "../sections/StatisticsOverviewSection.astro";
---

<Layout title="EcuExport - Exportaciones de Ecuador a Estados Unidos">
     <main class="flex w-full flex-col">
          <h1 class="title-section mt-5 leading-8 md:mt-0">
               Análisis de las exportaciones de Ecuador a Estados Unidos en marzo de 2024
          </h1>
          <h2 class="mb-[20px]">Descripción General</h2>
          <ResumeSection />
          <StatisticsOverviewSection />
          <!--  -->
     </main>
</Layout>

<style>
     .title-section::after {
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #e6e9eea9;
          margin: 20px 0;
     }
</style>
