---
import MonthlyTrendsComponent from "../components/graphics/MonthlyTrendsComponent.astro";
---

<!-- line and porcent graphic -->
<section class="mt-2 flex text-fontColor">
     <div class="flex w-full gap-2">
          <MonthlyTrendsComponent />
          <div class="h-400px w-[30%] rounded-2xl border-2 border-[#E7EBF1] p-5"></div>
     </div>
</section>
