---
import BarCategoriesTrendsGraph from "../components/graphics/BarCategoriesTrendsGraph.astro";
import MonthlyTrendsComponent from "../components/graphics/MonthlyTrendsComponent.astro";
---

<!-- line and porcent graphic -->
<section class="mt-2 flex text-fontColor">
     <div class="grid max-h-[42rem] w-full grid-cols-5 gap-4">
          <MonthlyTrendsComponent />
          <BarCategoriesTrendsGraph />
     </div>
</section>
