---
import BarCategoriesTrendsGraph from "../components/graphics/BarCategoriesTrendsGraph.astro";
import MonthlyTrendsComponent from "../components/graphics/MonthlyTrendsComponent.astro";
---

<!-- line and porcent graphic -->
<section class="mt-2 flex text-fontColor">
     <div class="flex w-full gap-2">
          <MonthlyTrendsComponent />
          <BarCategoriesTrendsGraph />
     </div>
</section>
