---
import BarCategoriesTrendsGraph from "../components/graphics/BarCategoriesTrendsGraph.astro";
import MonthlyTrendsComponent from "../components/graphics/MonthlyTrendsComponent.astro";
---

<!-- line and porcent graphic -->
<section class="mt-3 flex text-fontColor">
     <div class="flex max-h-[42rem] w-full gap-2 bg-white">
          <MonthlyTrendsComponent />
          <BarCategoriesTrendsGraph />
     </div>
</section>
