---
import BarCategoriesTrendsGraph from "../components/graphics/BarCategoriesTrendsGraph.astro";
import MonthlyTrendsComponent from "../components/graphics/MonthlyTrendsComponent.astro";
---

<!-- line and porcent graphic -->
<section class="mt-2 flex text-fontColor">
     <div class="grid w-full gap-4 md:max-h-[42rem] md:grid-cols-5">
          <MonthlyTrendsComponent />
          <!-- <BarCategoriesTrendsGraph /> -->
     </div>
</section>
