---
import NavbarComponent from "../components/layout/NavbarComponent.astro";

interface Props {
     title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta name="description" content="Astro description" />
          <meta name="viewport" content="width=device-width" />
          <link rel="icon" href="/public/icon.ico" type="image/x-icon" />
          <meta name="generator" content={Astro.generator} />

          <!-- font -->
          <link rel="preconnect" href="https://fonts.googleapis.com" />
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
          <link
               href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
               rel="stylesheet"
          />

          <!-- transitions in the page -->
          <ViewTransitions />

          <title>{title}</title>
     </head>
     <body class="flex">
          <NavbarComponent />
          <div class="mx-4 md:m-7 md:ml-[8rem]">
               <slot />
          </div>
     </body>
</html>

<style is:global>
     body {
          font-family: "Inter", sans-serif;
          background-color: #fafbfc;
     }

     h1 {
          font-size: 28px;
          font-weight: 700;
          color: #111729;
     }

     h2 {
          font-size: 22px;
          font-weight: 700;
          color: #111729;
     }

     h3 {
          font-size: 18px;
          font-weight: 700;
          color: #111729;
          line-height: 20px;
     }

     .content-page {
          margin-left: 100px;
          transition: margin 0.1s ease-in-out;
     }

     .content-page-navbar-expanded {
          margin-left: 320px;
          transition: margin 0.1s ease-in-out;
     }
</style>
